<nav
  class="navbar navbar-expand-lg navbar navbar-light"
  style="background-color: #e3f2fd"
>
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 m-auto pt-5">
      <ul class="list-group">
        <li
          (click)="openForEDit(employee)"
          [class.active]="employee == selectedEmployee"
          *ngFor="let employee of employeeArray"
          class="list-group-item list-group-item-action"
        >
          <span class="badge bagde-light">{{ employee.id }}</span>
          {{ employee.name }} - {{ employee.country }}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title font-weight-bold">Insert a new employee</div>
          <div class="form-group">
            <input
              [(ngModel)]="selectedEmployee.name"
              type="text"
              placeholder="Insert name"
              class="form-control text-capitalize"
            />
          </div>
          <div class="form-group">
            <input
              [(ngModel)]="selectedEmployee.country"
              type="text"
              placeholder="Insert a country"
              class="form-control text-capitalize"
            />
          </div>
          <button (click)="addOrEdit()" class="btn btn-outline-primary m-3">
            Add
          </button>
          <button
            *ngIf="selectedEmployee.id != 0"
            (click)="confirmBox()"
            class="btn btn-outline-danger"
          >
            Delete
          </button>
        </div>
      </div>
      <div class="col-4">
        <img
          src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.eluniversal.com.mx%2Fmenu%2Ffresas-propiedades-usos-y-beneficios-la-salud-de-este-fruto&psig=AOvVaw31OKLrWsFqk8zlosOz1COf&ust=1600140692180000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNDqm97a5-sCFQAAAAAdAAAAABAD
        "
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>
</div>
